body {
  margin: 0;
  text-align:center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #417D7A;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: normal;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}
p{
  font-size: 1.2em;
}
.top-containor {
  background-color: #E4F9F5;
  padding-top: 100px;

}
.middle-container{

}

.bottom-container{

}
.bottomcloud{
  position: absolute;
  left: 220px;
  bottom: 350px;
}
.topcloud{
  position: absolute;
  right: 300px;
  top: 50px;

}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
